:root {
    --shadow: 2px 4px 6px rgba(122, 122, 122, 0.35);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: max(330px, 20%) 1fr;
    min-height: 100vh;
    background-color: #e2ebf8;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

button {
    border: none;
    background: none;
}

a {
    text-decoration: none;
    color: inherit;
}

li,
button {
    cursor: pointer;
}

li:hover,
button:hover,
a:hover {
    translate: 0 -1px;
    transform: scale(1.03);
    filter: brightness(110%);
}

aside ul {
    list-style-type: none;
}

.left-sidebar {
    background-color: #2f91ee;
    padding: 20px;
    font-weight: bold;
    color: white;
}

.dashboard-menu-header {
    display: flex;
    height: fit-content;
    align-items: center;
    padding: 30px;
}

.dashboard-menu-icon {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    width: fit-content;
    height: fit-content;
}

.rect-sm,
.rect-lg {
    width: 20px;
    background-color: white;
}

.rect-sm {
    height: 15px;
}

.rect-lg {
    height: 25px;
}

.rect-1 {
    grid-row: 1 / 3;
}

.rect-2 {
    grid-row: 1 / 2;
}

.rect-3 {
    grid-row: 3 / 4;
}

.rect-4 {
    grid-row: 2 / 4;
}


.left-sidebar h1 {
    margin-left: 30px;
}

.left-sidebar li {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.45rem;
    padding: 12px;
    align-items: center;
}

.nav-division {
    height: 50px;
}

.nav-icon {
    width: 24px;
    height: 24px;
    fill: white;
}

.topbar {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 1fr;
    padding: 20px 40px;
    background-color: white;
}

.search-container,
.notifications,
.greeting-container {
    display: flex;
    align-items: center;
}

.search-container,
.greeting-container,
.notifications>* {
    margin: 10px;
}

.search-svg {
    width: 25px;
    aspect-ratio: 1 /1;
}

.search-text {
    width: 80%;
    height: 2rem;
    border-radius: 10px;
    border: 1px solid lightgray;
    background-color: #e2ebf8;
    margin-left: 12px;
}

.notifications {
    display: flex;
    justify-content: center;
}

.notification-avatar {
    width: 40px;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    background-color: #ffd000;
}

.greeting-container {
    display: grid;
    grid-template-columns: 75px 1fr;
}

.main-avatar {
    width: 75px;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    background-color: #ffd000;
}

.greeting {
    margin-left: 15px;
}

.action-bar {
    display: flex;
    flex-flow: row nowrap;
    min-width: 430px;
    justify-content: center;
    align-items: center;
}

.action-buttons>button {
    background-color: #2f91ee;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 1.15rem;
    padding: 10px 30px;
    margin-left: 24px;
}

.content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    min-width: 720px;
}

.section-title {
    grid-column: 1 / -1;
    margin: 30px 0 12px 25px;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: start;
}

.project-card {
    display: grid;
    grid-template-rows: auto 1fr;
    min-width: 380px;
    min-height: 250px;
    max-height: 400px;
    overflow: auto;
    border-left: 10px solid #ffd000;
    border-radius: 12px;
    background-color: white;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 40px 50px 25px 30px;
}

.project-card p {
    margin-bottom: 10px;
}

.article-actions {
    display: flex;
    justify-content: end;
}

.article-action-button {
    border: none;
    background: none;
    margin-left: 12px;
}

.right-sidebar {
    display: grid;
    grid-template-columns: 1fr;
    place-content: start;
}

.announcement-card {
    width: 380px;
    border-radius: 12px;
    background-color: white;
    margin-left: 20px;
    padding: 30px 45px;
}

.announcement {
    padding: 0 8px;
}

.announcement p {
    font-size: .9rem;
}

.announcement-card hr {
    border: 1px solid lightgray;
    margin: 15px 0;
}

.trending-card {
    width: 380px;
    border-radius: 12px;
    background-color: white;
    margin-left: 20px;
    padding: 8px 45px;
}

.trending {
    display: grid;
    grid-template-columns: 50px 1fr;
    margin: 30px 0;
}

.trending-img {
    background: #ffd000;
    color: white;
    border-radius: 100%;
    padding: 10px;
}

.trending-content {
    margin-left: 12px;
}

.project-card>h3,
.announcement>h4 {
    margin-bottom: 10px;
}

.trending-content>h4 {
    margin-bottom: 4px;
}

.topbar,
.project-card,
.announcement-card,
.trending-card,
.action-bar button {
    box-shadow: var(--shadow);
}

@media only screen and (max-width: 1200px) {
    .content {
        display: flex;
        flex-direction: column;
    }

    .right-sidebar {
        display: flex;
        justify-content: space-around;
    }
}