* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: max(330px, 20%) 1fr;
    min-height: 100vh;
    background-color: #e2ebf8;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

aside ul {
    list-style-type: none;
}

.left-sidebar {
    background-color: #2f91ee;
    padding: 20px;
    font-weight: bold;
    color: white;
}

.dashboard-menu-header {
    display: flex;
    height: fit-content;
    align-items: center;
    padding: 30px;
}

.dashboard-menu-icon {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    width: fit-content;
    height: fit-content;
}

.rect-sm,
.rect-lg {
    width: 20px;
    background-color: white;
}

.rect-sm {
    height: 15px;
}

.rect-lg {
    height: 25px;
}

.rect-1 {
    grid-row: 1 / 3;
}

.rect-2 {
    grid-row: 1 / 2;
}

.rect-3 {
    grid-row: 3 / 4;
}

.rect-4 {
    grid-row: 2 / 4;
}


.left-sidebar h1 {
    margin-left: 30px;
}

.left-sidebar li {
    font-size: 1.35rem;
    padding: 12px;
}

.nav-division {
    height: 50px;
}

.topbar {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 1fr;
    padding: 20px 40px;
    background-color: white;
}

.search-container,
.notifications,
.greeting-container {
    display: flex;
    align-items: center;
}

.search-container,
.greeting-container,
.notifications>* {
    margin: 10px;
}

.search-svg {
    width: 30px;
    aspect-ratio: 1 /1;
}

.search-text {
    width: 80%;
    height: 2rem;
    border-radius: 10px;
    border: 1px solid lightgray;
    background-color: #e2ebf8;
    margin-left: 8px;
}

.notifications {
    display: flex;
    justify-content: end;
}

.notification-avatar {
    width: 40px;
    aspect-ratio: 1 / 1;
}

.greeting-container {
    display: grid;
    grid-template-columns: 75px 1fr;
}

.main-avatar {
    width: 75px;
    aspect-ratio: 1 / 1;
}

.greeting {
    padding-left: 10px;
}

.action-bar {
    display: flex;
    flex-flow: row nowrap;
    min-width: 430px;
    justify-content: center;
    align-items: center;
}

.action-buttons>button {
    border: none;
    background-color: #2f91ee;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 1.15rem;
    padding: 10px 30px;
    margin-left: 24px;
}

.content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-top: 20px;
    min-width: 720px;
}

.section-title {
    grid-column: 1 / -1;
    margin-left: 12px
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 12px;
}

.project-card {
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 200px;
    max-height: 350px;
    overflow: auto;
    border-left: 8px solid #ffd000;
    border-radius: 12px;
    background-color: white;
    margin: 12px;
    padding: 25px 20px;
}

.article-actions {
    display: flex;
    justify-content: end;
}

.article-action-button {
    border: none;
    background: none;
    cursor: pointer;
    margin-left: 12px;
}