* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: max(200px, 20%) 2fr;
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

aside ul {
    list-style-type: none;
}

.left-sidebar {
    background-color: #2f91ee;
    padding: 20px;
    font-weight: bold;
    color: white;
}

.left-sidebar h1 {
    padding: 24px;
}

.left-sidebar li {
    font-size: 1.35rem;
    padding: 12px;
}

.nav-division {
    height: 50px;
}

.topbar {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 1fr;
    padding: 20px 40px;
}

.search-container,
.notifications,
.greeting-container {
    display: flex;
    align-items: center;
}

.search-container,
.greeting-container,
.notifications>* {
    margin: 10px;
}

.search-svg {
    width: 30px;
    aspect-ratio: 1 /1;
}

.search-text {
    width: 75%;
    height: 1.75rem;
    border-radius: 10px;
    border: none;
    background-color: #e2ebf8;
}

.notifications {
    display: flex;
    justify-content: end;
}

.notification-avatar {
    width: 40px;
    aspect-ratio: 1 / 1;
}

.greeting-container {
    display: grid;
    grid-template-columns: 75px 1fr;
}

.main-avatar {
    width: 75px;
    aspect-ratio: 1 / 1;
}

.action-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-buttons>button {
    border: none;
    background-color: #2f91ee;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 1.15rem;
    padding: 10px 30px;
    margin-left: 24px;
}

.content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #e2ebf8;
    padding-top: 20px;
}

.section-title {
    grid-column: 1 / -1;
    margin-left: 12px
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 12px;
}

.project-card {
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 200px;
    max-height: 350px;
    over-flow: auto;
    border-left: 8px solid #ffd000;
    border-radius: 12px;
    background-color: white;
    margin: 12px;
    padding: 25px 20px;
}

.article-actions {
    display: flex;
    justify-content: end;
}

.article-action-button {
    border: none;
    background: none;
    cursor: pointer;
}