* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: max(200px, 20%) 2fr;
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

header,
section,
aside,
div {
    border: 1px solid black;
    padding: 7px;
}

.content {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.topbar {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 1fr;
}

.search-container,
.notifications {
    display: flex;
    align-items: center;
}

.search-svg {
    width: 30px;
    aspect-ratio: 1 /1;
}

.search-text {
    width: 75%;
    height: 1.75rem;
    border-radius: 10px;
    border: none;
    background-color: #e2ebf8;
}

.notifications>* {
    margin: 10px;
}

.notification-avatar {
    width: 40px;
    aspect-ratio: 1 / 1;
}

.main-avatar {
    width: 75px;
    aspect-ratio: 1 / 1;
}

.action-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.action-buttons>button {
    padding: 10px 30px;
    border: none;
    background-color: #2f91ee;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 1.15rem;
}


.greeting-container {
    display: grid;
    grid-template-columns: 75px 1fr;
}

.section-title {
    grid-column: 1 / -1;
    place-self: start;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    place-items: center;
}

.project-card {
    width: 300px;
    height: 200px;
}